<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Validate</title>
  </head>
  <body>


<!-- -->

<!-- page first loaded form not sent -->
  <%if(errors === null){%>
    <h1>Registration</h1>
    <%- include("partial/form")%>

<!--form submitted and errors found -->
  <%}else if(errors.length > 0){%>

    <h1>Registration</h1>
    <p>
      Errors found when submitting please try again.
    </p>
    <!-- display the errors-->
        <% for(x in errors){%>
          <%console.log(errors[x])%>
        <span><%- errors[x] %></span><br>
        <%}%>
<!-- Display form again to be resubmited -->
<br>
    <%- include("partial/form")%>

<!-- Form has been submitted correctly -->
<%}else{%>
  <h1>Registration Successful</h1>
  <%}%>
  </body>
</html>
