<ul>
  <li>
    <% if (pagename=="Home") {%>
    <a class="nav-link" style="color:orange" href="/">Home</a>
    <%}else{%>
    <a class="nav-link" href="/">Home</a>
    <%}%>
  </li>
  <li>
    <% if (pagename=="About") {%>
    <a class="nav-link" style="color:orange" href="/About">About</a>
    <%}else{%>
    <a class="nav-link" href="/About">About</a>
    <%}%>
  </li>
</ul>
