<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Login</title>
  </head>
  <body>
<%- include("partial/nav")%>
<!-- -->
  <h1>Profile</h1>
  <p>
    Welcome Mike!
    </p>
  </body>
</html>
